@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
   --color-primario: #000000;
   --color-secundario: #F6F6F6;
   --color-terciario: #22D4FD;
   --fuente-monserrat: 'Montserrat', sans-serif;
   --fuente-krona: 'Krona One', sans-serif;
}

body{
    background-color: black;
    color: var(--color-secundario);
    /*height: 100vh;  v de ViewPort, h es la altura.*/
    box-sizing: border-box;
    
}

.header{
   padding: 2% 0% 0% 15%;
}

.header_menu{
   display: flex;
   gap: 80px;
}

.header_menu_link{
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--color-terciario);
   text-decoration: none;
}

strong{
    color: #22D4FD;
}

.pollo{
    color: #52D41D;
}

.imagen-hover {
   display: none;
   position: absolute;
   left: 50%;
   top: 120%;
   transform: translateX(-50%);
   width: 700px;
   height: auto;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.pollo:hover + .imagen-hover {
   display: block;
}

*{
    padding: 0%;
    margin: 0;
    
}


 .presentacion {
    padding: 2.14% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
  }

 .presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .presentacion_contenido_titulo{
    font-size: 2.25rem;
    font-family: 'Krona One', sans-serif;
 }

 .presentacion_contenido_parrafo{
   position: relative;
   display: inline-block;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
 }

 .presentacion_contenido_parrafo a{
   text-decoration: none;
   color: var(--color-terciario);
}

 .presentacion_enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
 }

 .presentacion_enlaces_subtitulo{
   font-family: 'Krona One', sans-serif;
   font-size: 1.5rem;
   font-weight: 400;
 }

 .presentacion_enlaces_link{
    border: 2px solid var(--color-terciario);
    stroke: var(--color-terciario);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--color-secundario);
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .presentacion_enlaces_link:hover{
   cursor: pointer;
   background-color: #272727;
 }

 .imagen_presentacion{
   width: 50%;
 }

 .footer{
   background-color: var(--color-terciario);
   padding: 24px;
   text-align: center;
   color: var(--color-primario);
   font-family: 'Montserrat', sans-serif;
   font-size: 1.5rem;
   font-weight: 400;
 }

 @media (max-width: 1200px){

   .header{
      padding: 10%;
   }

   .header_menu{
      justify-content: center;
   }

   .presentacion{
      flex-direction: column-reverse;
      padding: 5%;
   }
   .presentacion_contenido{
      width: auto; /* Con auto se adapta al elemento padre*/
   }


 }